@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
body{
    background-image: url(photo/about.jpg);
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
.nav-btn{
    background-color: coral;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}













.btn11{
    margin-top: 220px;
}

















.all-container{
    display: flex;



}
.videoo{
   
    color: #e0ac1c;
   

}
.pp{
    border: solid;
    width: 300px;
    border-radius: 20px;
    color: white;


  
  
    margin-left: 20px;
}
.pp-p{
    color: white;
    padding-top: 40px;
    padding-left: 20px;
}
.audio{
    margin-right: 20px;
    padding-left: 800px;
}

.know-about{
    color: #ed563b;
    margin-left: 800px;
    margin-top: 40px;
}
.who{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
}










footer {
   
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footerd {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footerd .footer-left, .footerd .footer-center, .footerd .footer-right {
    display: inline-block;
    vertical-align: top;
}


.footerd .footer-left {
    width: 30%;
}

.footerd h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footerd h3 span {
    color: #e0ac1c;
}



.footerd .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footerd .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footerd .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footerd .footer-center {
    width: 35%;
}

.footerd .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footerd .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footerd .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footerd .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footerd .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

 

.footerd .footer-right {
    width: 30%;
}

.footerd .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footerd .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footerd .footer-icons {
    margin-top: 25px;
}
.footer-icons{
    display: flex;
    
    size: 1px;
}

.footerd .footer-icons a {
    display: flex;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footerd .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footerd .footer-left, .footerd .footer-center, .footerd .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }
    .footerd .footer-center i {
        margin-left: 0;
    }
} 


@media (max-width: 1000px){
    .videoo{
        width: 360px;
        border: none
        
    }
    .all-container{
        display: inline;
    }
    .pp{
        width: 310px;

        
        
       

    }
    .pp{
        font-size: 10px;
        
    }
    .audio{
        margin-right: 0px;
        padding-left: 3px;
        max-height: 5%;
        max-width: 100%;
        margin: auto;
        object-fit: contain;
    }
    .know-about{
        color: #ed563b;
        margin-left: 80px;
        margin-top: 40px;
    }
    .who{
        color: darkred;
    }
}
@media (max-width: 800px){
    
    .videoo{
        width: px;
        height: 200px;
    }
    .pp{
        margin-top: 40px;
        width: 300px;
        font-size: 23px;
    }
    
    }


        






















